.drawing-area {
  width: 900px;
  height: 900px;
  background-color: rgb(230, 230, 235);
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
