.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 1000px;
}

.drawing-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 1400px;
  height: 1000px;
  background-color: rgb(230, 230, 235);
  border-radius: 20px;
  border: 1px solid black;
}

.gridlines {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.drawing-wire {
  position: absolute;
  top: 50%;
  left: 100%; 
  width: 2px;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.drawing-area svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
} 